<div class='text-center'>
  <h1 class='text-center badge bg-danger mt-3 mb-5' style='font-size:2rem;'>
    User Management App
  </h1>
</div>

<div class='container mt-5 border p-5'>

  <div class='row g-3'>
    <div class='col-md-4 d-grid mx-auto'>
      <a class='btn btn-warning btn-lg' href='/'>Home</a>
    </div>
    <div class='col-md-4 d-grid mx-auto'>
      <a class='btn btn-success btn-lg' href='/login'>Login</a>
    </div>
    <div class='col-md-4 d-grid mx-auto'>
      <a class='btn btn-info btn-lg' href='/signup'>SignUp</a>
    </div>
  </div>

</div>