<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">User Management App</a>
</nav>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg " href="/">Home</a>
    <a class="btn btn-primary btn-lg " href="/login">Login</a>
    <a class="btn btn-primary btn-lg" href="/signup">SignUp</a>
</div>