<div class='container'>
  <div class='border'>
    <div class='row d-flex justify-content-between m-5'>
      <div>
        <h3>Welcome {{name}}</h3>
      </div>
      <div>
        <button class='logout btn btn-info'>LogOut</button>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-8'>
      
          <ol class='list-group list-group-numbered'>
            <li
              class='list-group-item d-flex justify-content-between align-items-start'
            >
              <div class='ms-2 me-auto'>
                <div class='fw-bold'><h4>Email</h4>
                  </div>
                {{email}}
              </div>

            </li>
            <li
              class='list-group-item d-flex justify-content-between align-items-start'
            >
              <div class='ms-2 me-auto'>
                <div class='fw-bold'><h4>About</h4></div>
                {{about}}
              </div>

            </li>

          </ol>
      
      </div>
      <div class='col-sm-4'>
        <li class='list-group-item d-flex align-items-right'>
          <img class='rounded float-right w-100' src='{{photo}}' alt='' />
        </li>
      </div>
  

    {{! <div class='fw-bold my-3'>Photo</div> }}

  </div>
</div>