<a href='/' class='btn btn-success'>Home</a>
<a href='/login' class='btn btn-info'>Login</a>
<div class='row justify-content-md-center' style='margin-top: 30px'>
  <div class='col-md-4'>

    <form class='signup'>
      <div class='row'>
        <div class='col'>

          <div class='form-group'>
            <label for='firstNameInput'> Name</label>
            <input
              id='s-name'
              type='text'
              class='form-control'
              id='firstNameInput'
              placeholder='Enter name'
              required
            />
          </div>

          <div class='form-group'>
            <label for='emailInput'>Email address</label>
            <input
              id='s-email'
              type='email'
              class='form-control'
              id='emailInput'
              placeholder='Enter email'
              required
            />
          </div>

          <div class='form-group'>
            <label for='passwordInput'>Password</label>
            <input
              id='s-password'
              type='password'
              class='form-control'
              id='passwordInput'
              placeholder='Password'
              required
            />
          </div>

          <div class='form-group'>
            <label for='confirmPasswordInput'>Confirm Password</label>
            <input
              id='s-password-confirm'
              type='password'
              class='form-control'
              id='confirmPasswordInput'
              placeholder='Re-enter password'
              required
            />
          </div>
        </div>
        <div class='col'>

          <div class='form-group'>
            <label for='firstAboutInput'> About</label>
            <input
              id='s-about'
              type='text'
              class='form-control'
              id='firstAboutInput'
              placeholder='Enter about'
              required
            />
          </div>
          <div class='form-group'>

            <label for='photo'> Profile Picture</label>
            <input
              class='form-control'
              type='file'
              id='photo'
              name='photo'
              required
              accept='image/*'
            />

          </div>

          <button type='submit' class='btn btn-primary mt-4'>SignUp</button>

        </div>
      </div>

    </form>
  </div>
</div>